numpydoc @ file:///C:/b/abs_cfdd4zxbga/croot/numpydoc_1668085912100/work
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
scikit-image @ file:///C:/b/abs_63r0vmx78u/croot/scikit-image_1669241746873/work
scikit-learn @ file:///C:/b/abs_7ck_bnw91r/croot/scikit-learn_1676911676133/work
scikit-learn-intelex==20230228.214818
sklearn==0.0.post1
streamlit==1.20.0


